* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Inter;
}

body {
  background-color: white;
}

header {
  font-size: 20px;
  font-weight: 700;
  color: black;
}
header .logo {
  text-align: left;
  padding: 24px;
}

section {
  max-height: 1080px;
  width: 400px;
  text-align: center;
  margin: 0 auto;
  margin-top: 174px;
}
section .hero .title {
  font-size: 24px;
  font-weight: 700;
  color: black;
  margin-bottom: 12px;
}
section .hero .subtitle {
  font-weight: 400;
  color: black;
  margin-bottom: 24px;
}
section .signup {
  width: 100%;
  display: flex;
  flex-direction: column;
}
section .signup__input {
  text-align: left;
  color: black;
  font-size: 18px;
  margin-bottom: 12px;
  padding: 12px;
  border-radius: 8px;
  font-weight: 600;
  border: 1.5px solid #828282;
}
section .signup__input::-moz-placeholder {
  color: #828282;
}
section .signup__input::placeholder {
  color: #828282;
}
section .signup__button {
  margin-bottom: 12px;
  padding: 12px;
  font-size: 16px;
  border: 1px solid green;
  cursor: pointer;
  border-radius: 8px;
  background-color: black;
  color: white;
}
section .signup__choice {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  color: #828282;
  position: relative;
  margin: 24px 0;
}
section .signup__choice::before {
  content: "";
  width: 30%;
  border: 1px solid #E6E6E6;
  display: inline-block;
  margin-right: 12px;
  vertical-align: middle;
}
section .signup__choice::after {
  content: "";
  width: 30%;
  border: 1px solid #E6E6E6;
  display: inline-block;
  margin-left: 12px;
  vertical-align: middle;
}
section .google__button {
  display: flex;
  padding: 12px;
  width: 100%;
  border: 1px solid #EEEEEE;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 8px;
  background-color: #EEEEEE;
  color: black;
  justify-content: center;
  position: relative;
  margin-bottom: 24px;
}
section .google__icon {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: 0;
  padding: 12px 12px;
}
section .google__text {
  flex-grow: 1;
  text-align: center;
}